{% extends 'base.html' %}
{% block content %}
<div style="text-align: center;width: 70%; margin: auto; font-size: 19px;">
    <h1>About my articles</h1>
<p>In this page we have six aricles they are ...<br>Tech brain fuels phillippines cybersecurity ,Australia's moves to protect data privacy fall short, 
Big Tech accused of falling to tackle U.S midterm 'l, History of India
, K.V. Raman: The famous chronicler of the Pandyas, 
Culture & Heritage of Warangal.</p>
<button><a href="{% url 'home' %}" style="text-decoration: none; color: black; " >BACK</a></button>
{% endblock content %}
 
</div>